.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

./__pycache__/
./__pycache__/_bootlocale.cpython-36.pyc
./__pycache__/_io.cpython-36.pyc
./__pycache__/_sitebuiltins.cpython-36.pyc
./__pycache__/_stat.cpython-36.pyc
./__pycache__/abc.cpython-36.pyc
./__pycache__/antigravity.cpython-36.pyc
./__pycache__/argparse.cpython-36.pyc
./__pycache__/ast.cpython-36.pyc
./__pycache__/asyncio.cpython-36.pyc
./__pycache__/base64.cpython-36.pyc
./__pycache__/bdb.cpython-36.pyc
./__pycache__/binascii.cpython-36.pyc
./__pycache__/builtins.cpython-36.pyc
./__pycache__/bz2.cpython-36.pyc
./__pycache__/calendar.cpython-36
